<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Online Store</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onClick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">SpeakEasyLA</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="sigin.html">Sign In</a>
            </div>
        </header>

        <aside class="sidebar">
            <h3>Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li>
                   <a href="index.html">One Seater</a>
                </li>
                <li>
                    <a href="index.html">Multiple Seater</a>
                 </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content"></div>
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/Screenshot_2020-12-23 Speakeasy 👄 ( thespeakeasyla) • Instagram photos and videos(1).jpg" alt="couchone"/>
                            <div class="product-name">
                               <a href="product.html">Dark Tan Couch</a>
                            </div>
                            <div class="product-brand">Mercadillo</div>
                            <div class="product-price">$2500</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/Screenshot_2020-12-23 Speakeasy 👄 ( thespeakeasyla) • Instagram photos and videos(2).jpg" alt="couchone"/>
                            <div class="product-name">
                               <a href="product.html">Single Tan</a>
                            </div>
                            <div class="product-brand">Mercadillo</div>
                            <div class="product-price">$999</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/Screenshot_2020-12-23 Speakeasy 👄 ( thespeakeasyla) • Instagram photos and videos.jpg" alt="couchone"/>
                            <div class="product-name">
                               <a href="product.html">Maroon Couch</a>
                            </div>
                            <div class="product-brand">Mercadillo</div>
                            <div class="product-price">$1999</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">All rights reserved.</footer>
    </div>
    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
</body>
</html>